/* The only rule that matters */
#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

body{
  padding: 50px;
}

p,h1,h2,h3,a
{
  font-family:'theinhardt';
  color: #002e6d;
}

p,a{
  letter-spacing: 1px;
}

nav{
  display: flex;
}

header{
  text-transform: uppercase;
  width:70%;
}

nav div{
  width:30%;
}

nav div a{
  float:right;
  font-weight: bold;
  top:35%;
  position: relative;
}

.coming-soon p
{
  top: 50%;
  position: absolute;
  right: 50px;
}

footer{
  font-size: 15px;
  position: absolute;
  bottom: 50px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
